.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 20.375rem;
    max-width: 21.875rem;
    border-radius: 0.9375rem;
    background-color: $white;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;

    &__bg {
        background-image: url(/images/bg-pattern-card.svg);
        background-size: cover;
        background-position: center center;
        height: 8.75rem;
        width: 100%;
        border-top-left-radius: 0.9375rem;
        border-top-right-radius: 0.9375rem;
    }

    &__img {
        position: relative;
        img {
            position: absolute;
            width: 6.625rem;
            height: auto;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 5px solid $white;
        }
    }

    &__info {
        margin-top: 4.5rem;
    }

    &__name {
        display: inline-block;
        font-size: 1.125rem;
        font-weight: $bold;
        line-height: 1.375rem;
        color: $veryDarkDesaturatedBlue;
        margin-right: 0.5313rem;
    }

    &__age {
        display: inline-block;
        line-height: 1.375rem;
        margin-bottom: 0.5rem;
        color: $darkGrayishBlue;
    }

    &__city {
        font-size: 0.875rem;
        line-height: 1.0625rem;
        margin-bottom: 1.5625rem;
        color: $darkGrayishBlue;
    }

    &__stats {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-top: 0.0625rem solid $lightGray;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__statNum {
        font-size: 1.125rem;
        font-weight: $bold;
        margin-bottom: 0.3125rem;
        line-height: 1.375rem;
        color: $veryDarkDesaturatedBlue;
    }

    &__statTitle {
        font-size: 0.625rem;
        line-height: 0.75rem;
        color: $darkGrayishBlue;
    }
}
